.project{ 
    display: flex;
    flex-direction: column;
    padding :50px 20%;
}

.pro{
    display: flex;    
  
}
.pro-title{
    padding-bottom : 40px;
}
.pro-title-content{
    font-size: 18px;
    font-family: 'poppins';
    font-weight: 700;
    text-align: center;
}
.pro-content{
    font-size: 24px;
    font-family: 'poppins';
    font-weight: 700;
    text-align: center;
   
}
.column1{
    flex : 50%;
    height : 350px;
    width: 200px;
}
.column1 img{
    height :100%;
    width: 100%;     
    object-fit: cover;
    margin-bottom : 10px;
}

.col-title{
    font-size: 16px;
    font-family: 'poppins';
    text-align: center;
    font-weight: 500;
    color : grey;
}