
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Lora:wght@500&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Varela&display=swap');

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(238, 237, 237); */
     /* background-color: #EBEBEB; */
     background-color: #f9f9f9;

}
.about-me{
    font-size: 32px;
    margin-top :30px;
    margin-bottom :50px;
    font-family: 'poppins';  

}
.content-1{   
    margin : 0px 300px;
    font-family: 'poppins';
    line-height: 28px;
    font-weight: 500;
}
.content-2{
    margin : 0px 300px;
    margin-bottom : 100px;
    padding : 15px 0px;
    font-family: 'poppins';    
}